/* Estilos generales del formulario */

form {
    width: 500px; /* Ancho del formulario */
    margin: 0 auto; /* Centrar el formulario en la página */
    padding: 20px; /* Espacio interno alrededor del formulario */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f8f8f8; /* Color de fondo gris claro */
}

/* Estilos para las etiquetas (Nombre, Apellidos, etc.) */

label {
    display: block; /* Cada etiqueta en su propia línea */
    margin-bottom: 5px; /* Espacio debajo de cada etiqueta */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para los campos de entrada de texto */

input[type="text"],
input[type="number"] {
    width: 100%; /* Ancho completo del contenedor */
    padding: 8px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio debajo de cada campo */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 3px; /* Bordes ligeramente redondeados */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
}

/* Estilos para los selectores (Tipo de Documento, Género) */
select {
    width: 100%; /* Ancho completo del contenedor */
    padding: 8px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio debajo de cada selector */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 3px; /* Bordes ligeramente redondeados */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
    appearance: none; /* Estilo personalizado para el selector */
    -webkit-appearance: none; /* Para navegadores webkit (Safari, Chrome) */
    -moz-appearance: none; /* Para Firefox */
    background: url('flecha_abajo.png') no-repeat right 8px center; /* Imagen de flecha en el selector */
    padding-right: 30px; /* Espacio para la flecha */
}

/* Estilos para el botón de Enviar */
input[type="submit"] {
    background-color: #8840cd; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    padding: 10px 15px; /* Espacio interno */
    border: none; /* Sin borde */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar por encima */
}

/* Estilos para el botón de Enviar al pasar el cursor por encima */
input[type="submit"]:hover {
    background-color: #500893; /* Color de fondo verde más oscuro */
}


.form-control {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 30px; /* Ajusta la altura según tus necesidades */
    font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */
}